.history {
    h2 {
        margin-bottom: 30px !important;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }

        th {
            color: #666;
            font-weight: normal;
        }

        tbody tr {
            &:hover {
                background-color: #f9f9f9;
            }
        }

        .order {
            color: #E9633B;
        }

        .status {
            font-weight: bold;
            color: #E9633B;

            &.paid {
                color: #4CAF50 !important;
            }
        }
    }
}